*{
    /* border: 1px solid rgb(176, 0, 0); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'emerald';
  src: url('public/fonts/pokemon-emerald-pro.ttf') format('truetype');
}

@font-face {
  font-family: 'pkmnems';
  src: url('public/fonts/pkmnems.ttf') format('truetype');
}

body{
    margin: 0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    font-family: 'emerald', sans-serif;
}

.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
    background-color: #102543;
}

.header-content{
  display: flex;
  align-items: center;
}

.pokeball img{
  max-width: 50px;
  max-height: 50px;
}

.header h2{
    margin:0;
    padding: 0;
    color:white;
    font-size:28px;
}

.sidebar{
    display:flex;
    align-items: center;
}

.sidebar ul{
    display:flex;
    list-style-type: none;
    text-decoration: none;
    gap: 28px;
}

.sidebar ul a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.section-one{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, #000000, #507084);
    /* background-color: #1F2937; */
    position:relative;
}

.section-one::before{
  content: '';
  background-image: url('images/pikachu.jpg');
  background-size:cover; 
  background-position:right;
  background-repeat: no-repeat; 
  position:absolute;
  inset: 0;
  opacity: 0.3;
}

  .section-one h1{
    margin-bottom: 10px;
    font-size: 48px;
  }

  .section-one a{
    text-decoration: none;
  }

  .section-one-text{
    margin-bottom: 15px;
    font-size: 20px;
  }

  .section-one-text-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    max-width:450px;
    color:rgb(255, 255, 255);
    padding: 10px 20px;
  }

  .section-one-button{
    background-color: #1c4485;
    color: white;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    padding: 8px;
    font-size: 16px;
  }

  .section-one-image {
    max-width: 300px;
    width: 100%;
  }
  
  .section-one-image img {
    width: 100%;
    height: auto;
  }

  .section-one, .section-one-text, .section-one-text-container, .section-one-button, .section-one-image{
    isolation: isolate;
  }

  .section-two{
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, #1F2937, #ffffff);
    position: relative;
  }

  .section-two::before{
    content: '';
    background-image: url('images/sky.jpg');
    background-size:cover; 
    background-position:right;
    background-repeat: no-repeat; 
    position:absolute;
    inset: 0;
    opacity: 0.5;
  }

  .section-two h2{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 48px;
  }

  .section-two-image-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .section-two-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    max-width:300px;
    width: 100%;
  }

  .section-two-image img{
    width: 100%;
    height: auto;
    border: 4px solid #000000;
    border-radius: 8px;
  }

  .text{
    margin-top: 10px;
    max-width: 200px;
    text-wrap: wrap;
    font-size: 24px; 
  }

  .section-two h2, .section-two-image-container{
    isolation: isolate;
  }
  
  .section-three{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    background-color: #1F2937;
    color: white;
  }

  .section-three-quote{
    max-width:1000px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .section-three-quoter{
    font-size: 20px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: 30%;
  }

  .section-four{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    position: relative;
    background: linear-gradient(to top, #1F2937, #ffffff);
  }

  .section-four::before{
    content: '';
    background-image: url('images/sky-empty.jpg');
    background-size:cover; 
    background-position:bottom;
    background-repeat: no-repeat; 
    position:absolute;
    inset: 0;
    opacity: 0.5;
  }

  .section-four-container{
    display: flex;
    flex-direction: column;
    background-color: #3882f6;
    border-radius: 8px;
    color:white;
    padding: 30px 100px;
  }

  .section-four-title{
    font-size: 24px;
    margin-bottom: 5px;
  }

  .section-four-bottom-group{
    display:flex;
    align-items: start;
  }

  .section-four-text{
    font-size: 18px;
    margin-bottom:20px;
    max-width: 400px;
  }

  .section-four-button{
    width: 100px;
    background-color: transparent;
    color:white;
    font-size: 14px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 25px;
    margin-left: 20px;
    font-weight: bold;
    cursor:pointer;
    text-decoration: none;
  }

  .footer{
    display:flex;
    justify-content: center;
    background-color: #102543;;
    color: white;
    padding: 30px 0; 
  }

  .section-four-container{
    isolation: isolate;
  }

.header, .section-one-text-container h1, .section-one-button, .section-two h2, .section-three-quoter, .section-four-title, .section-four-button, .footer{
  font-family: 'pkmnems', sans-serif;
}




  


  